body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('if.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.logo {
    max-width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

header h1 {
    margin-top: 50px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.car-info p {
    text-align: center;
}

.specifications {
    margin-top: 20px;
}

.specifications h2 {
    color: #333;
}

.specifications ul {
    list-style: none;
    padding: 0;
}

.specifications li {
    margin: 5px 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
